:root {
  --foundationtasko-bluelight: rgba(237, 250, 251, 1);
  --foundationtasko-blue200: rgba(228, 247, 249, 1);
  --foundationtasko-blue300: rgba(199, 238, 242, 1);
  --foundationtasko-blue400: rgba(73, 201, 213, 1);
  --foundationtasko-blue500: rgba(66, 181, 192, 1);
  --foundationtasko-blue600: rgba(58, 161, 170, 1);
  --foundationtasko-blue700: rgba(55, 151, 160, 1);
  --foundationtasko-blue800: rgba(44, 121, 128, 1);
  --foundationtasko-blue900: rgba(33, 90, 96, 1);
  --foundationtasko-white100: rgba(255, 255, 254, 1);
  --foundationtasko-white200: rgba(254, 254, 254, 1);
  --foundationtasko-white300: rgba(253, 254, 252, 1);
  --foundationtasko-white400: rgba(250, 251, 246, 1);
  --foundationtasko-white500: rgba(225, 226, 221, 1);
  --foundationtasko-white600: rgba(200, 201, 197, 1);
  --foundationtasko-white700: rgba(188, 188, 185, 1);
  --foundationtasko-white800: rgba(150, 151, 148, 1);
  --foundationtasko-white900: rgba(112, 113, 111, 1);
  --foundationtasko-gray100: rgba(233, 233, 232, 1);
  --foundationtasko-gray200: rgba(221, 221, 221, 1);
  --foundationtasko-gray300: rgba(186, 185, 184, 1);
  --foundationtasko-gray400: rgba(31, 30, 26, 1);
  --foundationtasko-gray500: rgba(28, 27, 23, 1);
  --foundationtasko-gray600: rgba(25, 24, 21, 1);
  --foundationtasko-gray700: rgba(23, 23, 20, 1);
  --foundationtasko-gray800: rgba(19, 18, 16, 1);
  --foundationtasko-gray900: rgba(14, 13, 12, 1);
  --foundationtasko-success300: rgba(220, 240, 191, 1);
  --foundationtasko-success400: rgba(142, 208, 48, 1);
  --foundationtasko-warning300: rgba(252, 230, 185, 1);
  --foundationtasko-warning400: rgba(246, 173, 28, 1);
  --foundationtasko-error300: rgba(238, 186, 188, 1);
  --foundationtasko-error700: rgba(151, 23, 30, 1);
  --header-1-font-family: "Fredoka", Helvetica;
  --header-1-font-weight: 400;
  --header-1-font-size: 40px;
  --header-1-letter-spacing: 0px;
  --header-1-line-height: normal;
  --header-1-font-style: normal;
  --header-2-font-family: "Fredoka", Helvetica;
  --header-2-font-weight: 400;
  --header-2-font-size: 28px;
  --header-2-letter-spacing: 0px;
  --header-2-line-height: normal;
  --header-2-font-style: normal;
  --header-3-font-family: "Fredoka", Helvetica;
  --header-3-font-weight: 400;
  --header-3-font-size: 20px;
  --header-3-letter-spacing: 0px;
  --header-3-line-height: normal;
  --header-3-font-style: normal;
  --body-large-font-family: "Nunito", Helvetica;
  --body-large-font-weight: 400;
  --body-large-font-size: 18px;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: normal;
  --body-large-font-style: normal;
  --body-main-font-family: "Nunito", Helvetica;
  --body-main-font-weight: 400;
  --body-main-font-size: 16px;
  --body-main-letter-spacing: 0px;
  --body-main-line-height: normal;
  --body-main-font-style: normal;
  --UI-button-font-family: "Nunito", Helvetica;
  --UI-button-font-weight: 400;
  --UI-button-font-size: 16px;
  --UI-button-letter-spacing: 0px;
  --UI-button-line-height: normal;
  --UI-button-font-style: normal;
  --caption-font-family: "Nunito", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 12px;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --nunito-bold-font-family: "Nunito", Helvetica;
  --nunito-bold-font-weight: 700;
  --nunito-bold-font-size: 20px;
  --nunito-bold-letter-spacing: 0px;
  --nunito-bold-line-height: 21px;
  --nunito-bold-font-style: normal;
  --nunito-regular-font-family: "Nunito", Helvetica;
  --nunito-regular-font-weight: 400;
  --nunito-regular-font-size: 16px;
  --nunito-regular-letter-spacing: 0px;
  --nunito-regular-line-height: 21px;
  --nunito-regular-font-style: normal;
  --semantic-heading-1-font-family: "Nunito", Helvetica;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-size: 36px;
  --semantic-heading-1-letter-spacing: 0px;
  --semantic-heading-1-line-height: 44px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-3-font-family: "Nunito", Helvetica;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-size: 16px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 21px;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-4-font-family: "Nunito", Helvetica;
  --semantic-heading-4-font-weight: 700;
  --semantic-heading-4-font-size: 14px;
  --semantic-heading-4-letter-spacing: 0px;
  --semantic-heading-4-line-height: 21px;
  --semantic-heading-4-font-style: normal;
  --semantic-link-font-family: "Nunito", Helvetica;
  --semantic-link-font-weight: 600;
  --semantic-link-font-size: 14px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 21px;
  --semantic-link-font-style: normal;
  --semantic-small-font-family: "Nunito", Helvetica;
  --semantic-small-font-weight: 400;
  --semantic-small-font-size: 11.699999809265137px;
  --semantic-small-letter-spacing: 0px;
  --semantic-small-line-height: 21px;
  --semantic-small-font-style: normal;
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-weight: 400;
  --inter-regular-font-size: 16px;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: 25.600000381469727px;
  --inter-regular-font-style: normal;
  --medium-LM: 1px 2px 3px 0px rgba(33, 90, 96, 0.4);
  --small-LM: 1px 2px 3px 0px rgba(26, 70, 75, 0.15);
  --small-DM: 1px 2px 3px 0px rgba(237, 250, 251, 0.15);
  --medium-DM: 1px 2px 3px 0px rgba(237, 250, 251, 0.4);
  --high-LM: 2px 4px 8px 0px rgba(26, 70, 75, 0.2);
  --high-DM: 2px 4px 8px 0px rgba(237, 250, 251, 0.2);
  --vertical-up-LM: 0px -2px 3px 0px rgba(26, 70, 75, 0.15);
  --vertical-up-DM: 0px -2px 3px 0px rgba(237, 250, 251, 0.15);
  --vertical-down-DM: 0px 2px 3px 0px rgba(237, 250, 251, 0.15);
  --vertical-down-LM: 0px 2px 3px 0px rgba(26, 70, 75, 0.15);
}