@import "tailwindcss";

@layer base {
  button,
  input,
  select,
  textarea {
    appearance: none;
    background: transparent;
    border: 0;
    outline: none;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@theme {
  /* Tasko-Blue */
  --color-tasko-blue200: rgba(228, 247, 249, 1);
  --color-tasko-blue300: rgba(199, 238, 242, 1);
  --color-tasko-blue400: rgba(73, 201, 213, 1);
  --color-tasko-blue500: rgba(66, 181, 192, 1);
  --color-tasko-blue600: rgba(58, 161, 170, 1);
  --color-tasko-blue700: rgba(55, 151, 160, 1);
  --color-tasko-blue800: rgba(44, 121, 128, 1);
  --color-tasko-blue900: rgba(33, 90, 96, 1);
  --color-tasko-bluelight: rgba(237, 250, 251, 1);

  /* Tasko-Gray */
  --color-tasko-gray100: rgba(233, 233, 232, 1);
  --color-tasko-gray200: rgba(221, 221, 221, 1);
  --color-tasko-gray300: rgba(186, 185, 184, 1);
  --color-tasko-gray400: rgba(31, 30, 26, 1);
  --color-tasko-gray500: rgba(28, 27, 23, 1);
  --color-tasko-gray600: rgba(25, 24, 21, 1);
  --color-tasko-gray700: rgba(23, 23, 20, 1);
  --color-tasko-gray800: rgba(19, 18, 16, 1);
  --color-tasko-gray900: rgba(14, 13, 12, 1);

  /* Tasko-White */
  --color-tasko-white100: rgba(255, 255, 254, 1);
  --color-tasko-white200: rgba(254, 254, 254, 1);
  --color-tasko-white300: rgba(253, 254, 252, 1);
  --color-tasko-white400: rgba(250, 251, 246, 1);
  --color-tasko-white500: rgba(225, 226, 221, 1);
  --color-tasko-white600: rgba(200, 201, 197, 1);
  --color-tasko-white700: rgba(188, 188, 185, 1);
  --color-tasko-white800: rgba(150, 151, 148, 1);
  --color-tasko-white900: rgba(112, 113, 111, 1);

  /* Tasko-Semantic */
  --color-tasko-error300: rgba(238, 186, 188, 1);
  --color-tasko-error700: rgba(151, 23, 30, 1);
  --color-tasko-success300: rgba(220, 240, 191, 1);
  --color-tasko-success400: rgba(142, 208, 48, 1);
  --color-tasko-warning300: rgba(252, 230, 185, 1);
  --color-tasko-warning400: rgba(246, 173, 28, 1);

  /* Typography: Body Large */
  --body-large-font-family: "Nunito", Helvetica;
  --body-large-font-size: 18px;
  --body-large-font-style: normal;
  --body-large-font-weight: 400;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: normal;

  /* Typography: Body Main */
  --body-main-font-family: "Nunito", Helvetica;
  --body-main-font-size: 16px;
  --body-main-font-style: normal;
  --body-main-font-weight: 400;
  --body-main-letter-spacing: 0px;
  --body-main-line-height: normal;

  /* Typography: Caption */
  --caption-font-family: "Nunito", Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;

  /* Typography: Header 1 */
  --header-1-font-family: "Fredoka", Helvetica;
  --header-1-font-size: 40px;
  --header-1-font-style: normal;
  --header-1-font-weight: 400;
  --header-1-letter-spacing: 0px;
  --header-1-line-height: normal;

  /* Typography: Header 2 */
  --header-2-font-family: "Fredoka", Helvetica;
  --header-2-font-size: 28px;
  --header-2-font-style: normal;
  --header-2-font-weight: 400;
  --header-2-letter-spacing: 0px;
  --header-2-line-height: normal;

  /* Typography: Header 3 */
  --header-3-font-family: "Fredoka", Helvetica;
  --header-3-font-size: 20px;
  --header-3-font-style: normal;
  --header-3-font-weight: 400;
  --header-3-letter-spacing: 0px;
  --header-3-line-height: normal;

  /* Typography: Inter Regular */
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-size: 16px;
  --inter-regular-font-style: normal;
  --inter-regular-font-weight: 400;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: 25.600000381469727px;

  /* Typography: Nunito Bold */
  --nunito-bold-font-family: "Nunito", Helvetica;
  --nunito-bold-font-size: 20px;
  --nunito-bold-font-style: normal;
  --nunito-bold-font-weight: 700;
  --nunito-bold-letter-spacing: 0px;
  --nunito-bold-line-height: 21px;

  /* Typography: Nunito Regular */
  --nunito-regular-font-family: "Nunito", Helvetica;
  --nunito-regular-font-size: 16px;
  --nunito-regular-font-style: normal;
  --nunito-regular-font-weight: 400;
  --nunito-regular-letter-spacing: 0px;
  --nunito-regular-line-height: 21px;

  /* Typography: Semantic Heading 1 */
  --semantic-heading-1-font-family: "Nunito", Helvetica;
  --semantic-heading-1-font-size: 36px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-letter-spacing: 0px;
  --semantic-heading-1-line-height: 44px;

  /* Typography: Semantic Heading 3 */
  --semantic-heading-3-font-family: "Nunito", Helvetica;
  --semantic-heading-3-font-size: 16px;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 21px;

  /* Typography: Semantic Heading 4 */
  --semantic-heading-4-font-family: "Nunito", Helvetica;
  --semantic-heading-4-font-size: 14px;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-4-font-weight: 700;
  --semantic-heading-4-letter-spacing: 0px;
  --semantic-heading-4-line-height: 21px;

  /* Typography: Semantic Link */
  --semantic-link-font-family: "Nunito", Helvetica;
  --semantic-link-font-size: 14px;
  --semantic-link-font-style: normal;
  --semantic-link-font-weight: 600;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 21px;

  /* Typography: Semantic Small */
  --semantic-small-font-family: "Nunito", Helvetica;
  --semantic-small-font-size: 11.699999809265137px;
  --semantic-small-font-style: normal;
  --semantic-small-font-weight: 400;
  --semantic-small-letter-spacing: 0px;
  --semantic-small-line-height: 21px;

  /* Typography: UI Button */
  --UI-button-font-family: "Nunito", Helvetica;
  --UI-button-font-size: 16px;
  --UI-button-font-style: normal;
  --UI-button-font-weight: 400;
  --UI-button-letter-spacing: 0px;
  --UI-button-line-height: normal;

  /* Shadows */
  --shadow-high-DM: 2px 4px 8px 0px rgba(237, 250, 251, 0.2);
  --shadow-high-LM: 2px 4px 8px 0px rgba(26, 70, 75, 0.2);
  --shadow-medium-DM: 1px 2px 3px 0px rgba(237, 250, 251, 0.4);
  --shadow-medium-LM: 1px 2px 3px 0px rgba(33, 90, 96, 0.4);
  --shadow-small-DM: 1px 2px 3px 0px rgba(237, 250, 251, 0.15);
  --shadow-small-LM: 1px 2px 3px 0px rgba(26, 70, 75, 0.15);
  --shadow-vertical-down-DM: 0px 2px 3px 0px rgba(237, 250, 251, 0.15);
  --shadow-vertical-down-LM: 0px 2px 3px 0px rgba(26, 70, 75, 0.15);
  --shadow-vertical-up-DM: 0px -2px 3px 0px rgba(237, 250, 251, 0.15);
  --shadow-vertical-up-LM: 0px -2px 3px 0px rgba(26, 70, 75, 0.15);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
